@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Open+Sans:wght@300&display=swap");

.maincontainer {
  width: 60%;
  margin-bottom: 20%;
  margin-left: 20%;
  margin-right: 20%;
  border: none;
  border-radius: 10px;
  padding-bottom: 15px;
  background-color: rgb(196, 244, 252);
  font-family: "Open Sans", sans-serif;
}

.title {
  background-color: rgb(5, 88, 203);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.city {
  color: rgb(54, 53, 53);
  font-size: 25px;
  text-align: center;
}
